name: release

run-name: release for ${{ inputs.bump }}

on:
  workflow_dispatch:
    inputs:
      bump:
        type: choice
        description: Choose the type of bump
        default: patch
        options:
          - major
          - minor
          - patch

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4

      - uses: yorifuji/next-latest-release@v1
        id: next-release
        env:
          bump: ${{ inputs.bump }}

      - name: Create release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_USER_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
          GIT_USER_NAME: "github-actions[bot]"
        run: |
          git config --local user.name $GIT_USER_NAME
          git config --local user.email $GIT_USER_EMAIL

          git tag -f "${{ steps.next-release.outputs.version }}"
          git push -f origin "${{ steps.next-release.outputs.version }}"

          git tag -f "${{ steps.next-release.outputs.major }}"
          git push -f origin "${{ steps.next-release.outputs.major }}"

          gh release create --generate-notes --latest "${{ steps.next-release.outputs.version }}"
